@tailwind base;
@tailwind components;

#messageError::-webkit-scrollbar {
  display: none;
}
#messageError::-webkit-scrollbar-thumb {
  display: none;
}

.nav-link.active {
  color: #ff6b38;
  font-weight: 500;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff6b38;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
html {
  scroll-behavior: smooth;
}
.overlayActive {
  display: none;
}
.dropdown-content {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}
.rotate {
  transition: transform 0.3s ease-in-out;
}
.rotate.open {
  transform: rotate(180deg);
}

.toastLine::after {
  width: 0%;
  animation: fullWidth 3s linear forwards;
}

.toastBox {
  @apply flex  items-center w-full px-2  py-4 justify-between overflow-hidden shadow-lg bg-white rounded-md z-50 absolute after:absolute after:left-0 after:bottom-0 after:w-[0%] after:h-[4px] after:bg-[#30e522] duration-1000 transition-all after:duration-1000;
}

@layer utilities {
  /* all 0.6s cubic-bezier(0.6, 0.15, 0.13, 1.1) */
  .errorIcon {
    color: #ff0000;
    font-size: 22px;
  }
  .checkIcon {
    color: #30e522;
    font-size: 22px;
  }
  .borderError {
    border-color: #ff0000;
    animation: shake 0.4s ease;
  }
  .freeShipping {
    color: #f3f4f6;
    background-color: #ff6b38;
    font-size: 12px;
  }
  .shippingFee {
    padding: 2px 8px;
    font-weight: 450;
    border-radius: 8px;
    color: #ff6b38;
    font-size: 16px;
    background: transparent;
  }
  .toastAfterLine {
    animation: fullWidth 3s linear forwards;
  }
  .inStock {
    background-color: #1edb10;
    animation: blimblim 1s ease-in-out infinite;
  }
  .outStock {
    background-color: #ff0000;
    animation: blimblim2 1s ease-in-out infinite;
  }
  .tabActive {
    color: #fff;
    background-color: #0d6efd;
    &:hover {
      background-color: #3284e8;
  }
}

@keyframes blimblim {
  0% {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(9, 223, 48, 0.991);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
  }
  50% {
    transform: scale(1.03);
    box-shadow: 0 0 30px rgb(7, 225, 47);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 15px rgb(12, 202, 37);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
@keyframes blimblim2 {
  0% {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
  }
  50% {
    transform: scale(1.03);
    box-shadow: 0 0 30px rgba(255, 0, 0, 1);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@keyframes fullWidth {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
@tailwind utilities;

textarea::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}
textarea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
